/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(50, 50, 50, 0.9) 100%);
}

header h1 {
    font-size: 28px;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ccc;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(50, 50, 50, 0.8) 100%), url('hero-background.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero .btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.hero .btn:hover {
    background-color: #333;
    color: white;
}

/* About Section */
.about {
    padding: 50px;
    background-color: #111;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Services Section */
.services {
    padding: 50px;
    background: linear-gradient(135deg, rgba(20, 20, 20, 0.9), rgba(60, 60, 60, 0.9));
    text-align: center;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.service-box {
    display: inline-block;
    width: 30%;
    margin: 20px;
}

.service-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Portfolio Section */
.portfolio {
    padding: 50px;
    background-color: #222;
}

.portfolio h2 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}

.portfolio-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 30%;
    margin: 20px;
}

/* Portfolio Section */
.portfolio-item img {
    width: 50%; /* Reduzido de 100% para 70% */
    height: auto;
    display: block;
    margin: 0 auto; /* Centraliza as imagens */
}


/* Contact Section */
.contact {
    padding: 50px;
    background-color: #333;
    text-align: center;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact .btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.contact .btn:hover {
    background-color: #444;
    color: white;
}

/* Footer */
footer {
    padding: 20px;
    background-color: #000;
    text-align: center;
}
